;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Mar 10 19:44:54 2008
;; Desktop file format version 206
;; Emacs version 22.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("TraceLight" "Shininess" "friend" "double" "Trace" "bool" "double" "Set" "bool" "int" "double" "Square" "Length" "Me_t" "Normalize" "create"))
(setq regexp-search-ring nil)
(setq register-alist (list (desktop-list* 113 (let ((mk (make-marker))) (add-hook 'desktop-delay-hook (list 'lambda '() (list 'set-marker mk 472 (get-buffer "Renderer.hh")))) mk))))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/SceneXML.cc"
  "SceneXML.cc"
  'c++-mode
  '(abbrev-mode)
  2764
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Tiny/raytracer.ml"
  "raytracer.ml"
  'tuareg-mode
  '(abbrev-mode)
  13805
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Renderer.hh"
  "Renderer.hh"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Raytracer.hh"
  "Raytracer.hh"
  'c++-mode
  '(overwrite-mode abbrev-mode)
  2948
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode . overwrite-mode-textual)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Point.hh"
  "Point.hh"
  'c++-mode
  '(abbrev-mode)
  801
  '(108 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Raytracer.cc"
  "Raytracer.cc"
  'c++-mode
  '(abbrev-mode)
  3715
  '(3754 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Tuple.hh"
  "Tuple.hh"
  'c++-mode
  '(abbrev-mode)
  1445
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Constants.hh"
  "Constants.hh"
  'c++-mode
  '(abbrev-mode)
  616
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Abs.hh"
  "Abs.hh"
  'c++-mode
  '(abbrev-mode)
  550
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Graphics/Screen.hh"
  "Screen.hh"
  'c++-mode
  '(abbrev-mode)
  1172
  '(1530 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Graphics/Image.hh"
  "Image.hh"
  'c++-mode
  '(abbrev-mode)
  1097
  '(1300 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Light.hh"
  "Light.hh"
  'c++-mode
  '(abbrev-mode)
  1734
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Sphere.hh"
  "Sphere.hh"
  'c++-mode
  '(abbrev-mode)
  864
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Color.hh"
  "Color.hh"
  'c++-mode
  '(abbrev-mode)
  1400
  '(1376 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Vector.hh"
  "Vector.hh"
  'c++-mode
  '(abbrev-mode)
  2456
  '(1262 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Matrix.hh"
  "Matrix.hh"
  'c++-mode
  '(abbrev-mode)
  1126
  '(1126 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Matrix.cc"
  "Matrix.cc"
  'c++-mode
  '(abbrev-mode)
  610
  '(610 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Ray.hh"
  "Ray.hh"
  'c++-mode
  '(abbrev-mode)
  2448
  '(2425 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Material.hh"
  "Material.hh"
  'c++-mode
  '(abbrev-mode)
  3253
  '(3229 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Graphics/Drawable.hh"
  "Drawable.hh"
  'c++-mode
  '(abbrev-mode)
  859
  '(704 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Graphics/Screen.cc"
  "Screen.cc"
  'c++-mode
  '(abbrev-mode)
  636
  '(2483 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Sphere.cc"
  "Sphere.cc"
  'c++-mode
  '(abbrev-mode)
  1171
  '(185 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Object.cc"
  "Object.cc"
  'c++-mode
  '(abbrev-mode)
  51
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Vector.cc"
  "Vector.cc"
  'c++-mode
  '(abbrev-mode)
  752
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Transform.cc"
  "Transform.cc"
  'c++-mode
  '(abbrev-mode)
  1582
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Photon.hh"
  "Photon.hh"
  'c++-mode
  '(abbrev-mode)
  1047
  '(116 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Material.cc"
  "Material.cc"
  'c++-mode
  '(abbrev-mode)
  825
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Color.cc"
  "Color.cc"
  'c++-mode
  '(abbrev-mode)
  96
  '(96 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/blaray.cc"
  "blaray.cc"
  'c++-mode
  '(abbrev-mode)
  2040
  '(1615 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Light.cc"
  "Light.cc"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "Render"
  'dired-mode
  nil
  139
  '(nil nil)
  t
  '("/home/bla/my_projects/blaRAY/Render/")
  nil)

(desktop-create-buffer 206
  nil
  "blaray"
  'dired-mode
  nil
  1041
  '(nil nil)
  t
  '("/home/bla/my_projects/blaRAY/")
  nil)

(desktop-create-buffer 206
  nil
  "Scene"
  'dired-mode
  nil
  549
  '(nil nil)
  t
  '("/home/bla/my_projects/blaRAY/World/")
  nil)

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/General/Debug.hh"
  "Debug.hh"
  'c++-mode
  '(abbrev-mode)
  53
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Primitives.hh"
  "Primitives.hh"
  'c++-mode
  '(abbrev-mode)
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/General/Testcases.hh"
  "Testcases.hh"
  'c++-mode
  '(abbrev-mode)
  90
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Photon.cc"
  "Photon.cc"
  'c++-mode
  '(abbrev-mode)
  49
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Camera.hh"
  "Camera.hh"
  'c++-mode
  '(abbrev-mode)
  3192
  '(3168 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Camera.cc"
  "Camera.cc"
  'c++-mode
  '(abbrev-mode)
  2787
  '(39 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/General/Types.hh"
  "Types.hh"
  'c++-mode
  '(abbrev-mode)
  2008
  '(2370 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Scene.hh"
  "Scene.hh"
  'c++-mode
  '(abbrev-mode)
  3488
  '(3656 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Plane.cc"
  "Plane.cc"
  'c++-mode
  '(abbrev-mode)
  1287
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Scene.cc"
  "Scene.cc"
  'c++-mode
  '(abbrev-mode)
  255
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Render/Ray.cc"
  "Ray.cc"
  'c++-mode
  '(abbrev-mode)
  1321
  '(654 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Texture.cc"
  "Texture.cc"
  'c++-mode
  '(abbrev-mode)
  1053
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Texture.hh"
  "Texture.hh"
  'c++-mode
  '(abbrev-mode)
  1647
  '(1623 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/General/Testcases.cc"
  "Testcases.cc"
  'c++-mode
  '(overwrite-mode abbrev-mode)
  5628
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode . overwrite-mode-textual)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Math/Transform.hh"
  "Transform.hh"
  'c++-mode
  '(abbrev-mode)
  2189
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Object.hh"
  "Object.hh"
  'c++-mode
  '(abbrev-mode)
  1423
  '(1230 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/World/Plane.hh"
  "Plane.hh"
  'c++-mode
  '(overwrite-mode abbrev-mode)
  721
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . iso-8859-2) (overwrite-mode . overwrite-mode-textual)))

(desktop-create-buffer 206
  "/home/bla/my_projects/blaRAY/Graphics/Image.cc"
  "Image.cc"
  'c++-mode
  '(abbrev-mode)
  544
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

